.btn-edit {
  background-color: #ffc107; /* vàng nhạt */
  color: #000;
  border: none;
  padding: 6px 14px;
  margin-right: 6px;
  border-radius: 6px;
  font-weight: 500;
  transition: 0.3s;
}

.btn-edit:hover {
  background-color: #e0a800;
  color: #fff;
}

.btn-delete {
  background-color: #dc3545; /* đỏ */
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  font-weight: 500;
  transition: 0.3s;
}

.btn-delete:hover {
  background-color: #bd2130;
}
